.card{
    width: 200px;
    height: 350px;
    border: 1px solid rgb(251, 8, 8);
    border-radius: 8px;
    position: relative;
    background-color: cyan;
    font-size: 13px;
    font-weight: 400px;
    padding: 14px;
    text-align: left;
}
.card img{
    border-radius: 12px;
}
.name{
    font-weight: bold;
    font-size: 22px;
    color: black;
    margin-top: 7px;
}
.btn{
    color: chartreuse;
    width: 100%;
    background-color: navy;
    border: none;
    border-radius: 0px 0px 8px 8px;

    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    background-color: rgb(246, 8, 31);
}
